{% extends "base.html" %}
{% load i18n static %}

{% block page_title %} {{page_title}} {% endblock page_title %}



{% load i18n static %}

{% comment %} breadcrumbs {% endcomment %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% include "layouts/links/home.html" %}</li>
    <li class="breadcrumb-item">{{ user }} {% include "layouts/links/accounts.html" %}</li>
    <li class="breadcrumb-item active" aria-current="page"> {% translate 'Password change' %} </li>
{% endblock breadcrumbs %}

{% block content %}

<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
{% include "snippets/form.html" with value="Change my password" %}

{% endblock content %}
