{% extends "base.html" %}
{% load i18n static %}

{% block page_title %} {{page_title}} {% endblock page_title %}



{% load i18n %}

{% comment %} breadcrumbs {% endcomment %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% include "layouts/links/home.html" %}</li>
    <li class="breadcrumb-item">{{ user }} {% include "layouts/links/accounts.html" %}</li>
    <li class="breadcrumb-item active" aria-current="page"> {% translate 'Password change' %} </li>
{% endblock breadcrumbs %}

{% block content %}
<p>{% translate 'Your password was changed.' %}</p>
{% endblock content %}
