{% load i18n static %}

<form method="post" action={{ action }}>
    {% csrf_token %}
    {{ form.management_form }}
    {% if form.errors %}
        <p>
            {% blocktranslate count counter=form.errors.items|length %}
                Please correct the error below.
            {% plural %}
                Please correct the errors below.
            {% endblocktranslate %}
        </p>
    {% endif %}
    {% for error in form.non_field_errors %}
        <li><strong>
            {% translate error %}
        </strong></li>
    {% endfor %}
    {% for field in form %}
        <div class="fieldWrapper">
            {% if field.errors %}
                <ol>
                {% for error in field.errors %}
                    <li><strong>
                        {% translate error %}
                    </strong></li>
                {% endfor %}
                </ol>
            {% endif %}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help"> {% translate field.help_text|safe %} </p>
            {% endif %}
        </div>
    {% endfor %}
    {% comment %} <input type="submit" value={% translate value %}> {% endcomment %}
    <input type="submit" value="{% blocktrans %}{{ value }}{% endblocktrans %}">

</form>